</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Care Center</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="scroll.css">
    <script defer src="scroll.js"></script>
</head>
<body>
    <a href="chatbox.html"><i  class="bi bi-chat-dots-fill" style="font-size: 3rem; color: rgb(5, 136, 136);"></i></a>
    <header>
        <h1 class="text-pop-up-top">Welcome to Vision For Life</h1>
        <p class="visionline">Your Vision is Our Priority</p>
        <a href="login.html" class="btn" id="log-in">Log In</a>
        <a href="signup.html" class="btn" id="sign-up">Sign Up</a>  
        <nav class="akm">
            <a href="#home">HOME</a>
            <a href="#http://127.0.0.1:5500/appointment.html">SERVICES</a>
            <a href="#doctors">DOCTORS</a>
            <a href="#appointments">APPOINTMENTS</a>
            <a href="#about">ABOUT US</a>
            <a href="#contact">CONTACT</a>
            <div class="search">
                <i class="big bi-search-heart-fill" style="font-size: 2rem; color: #000;"></i>
                <input type="text" name="search" id="search" placeholder="search here">
            </div>
        </nav>
        <div class="toggle_btn">
        <a  href=""><i class="menu bi-list" style="font-size: 2.5rem; color: rgb(39, 94, 94);"></i></a>
        <!--this div for the responsive mobile interface, this is display:none for windows size, ye dekh lena ismein js nhi lagaya -->
        </div>
        <a href=""> <img class="sign" src="img/signup.jpg" alt=""> </a>
        <a  href=""><i class="men bi-search" style="font-size: 2rem; color: rgb(39, 94, 94);"></i></a>
        <nav class="akmm">
        <ul >
            <li><a href="#home">HOME</a></li>
            <li><a href="#http://127.0.0.1:5500/appointment.html">SERVICES</a></li>
            <li><a href="#doctors">DOCTORS</a></li>
            <li><a href="#appointments">APPOINTMENTS</a></li>
            <li><a href="#about">ABOUT US</a></li>
            <a href="#contact">CONTACT</a>
        </ul>
        </nav>
    </header>
    <div class="scrolling-text-container">
        <div class="scrolling-text">
          Book Appointments Online to Your Nearest Doctors
        </div>
    </div>
</body>
</html>

