<%- include("partials/header.ejs", {title:"Vision For Life",home:"", about:"focusli", appointments:"", chatbot:"", eyeprblms:"", ourdoctors:""}); %>

About Section

<%- include("partials/footer.ejs"); %>
</body>
</html>