
<%- include("partials/header.ejs", {title:"Vision For Life",home:"", about:"", appointments:"focusli", chatbot:"", eyeprblms:"", ourdoctors:""}); %>

Appointments Section

<%- include("partials/footer.ejs"); %>
</body>
</html>