<%- include("partials/header.ejs", {title:"Vision For Life",home:"", about:"", appointments:"", chatbot:"focusli", eyeprblms:"", ourdoctors:""}); %>

ChatBot Section

<%- include("partials/footer.ejs"); %>

</body>
</html>