<%- include("partials/header.ejs", {title:"Vision For Life",home:"", about:"", appointments:"", chatbot:"", eyeprblms:"focusli", ourdoctors:""}); %>

EyeProblems Section

<%- include("partials/footer.ejs"); %>

</body>
</html>