
<%- include("partials/header.ejs", {title:"Vision For Life",home:"focusli", about:"", appointments:"", chatbot:"", eyeprblms:"", ourdoctors:""}); %>

Home Section

<%- include("partials/footer.ejs"); %>
</body>
</html>