
<%- include("partials/header.ejs", {title:"Vision For Life",home:"", about:"", appointments:"", chatbot:"", eyeprblms:"", ourdoctors:"focusli"}); %>

OurDoctors Section

<%- include("partials/footer.ejs"); %>

</body>
</html>